/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

.word {
  margin: 0px;
  word-wrap: break-word;
  padding: 4px 2px;
  line-height: 0.9em;
}

.info {
  font-weight: bold;
}

#positive-number {
  color: #33be2a;
}
#negative-number {
  color: #ff0124;
}
#neutral-number {
  color: #696969;
}

.panel-body .word span:hover {
  cursor: pointer;
  opacity: 0.5;
}

#statement {
  max-height: 80px;
  margin-top: 20px;
  text-align: center;
}

.png {
  max-height: 70px;
}

#love {
  margin-left: 2px;
  margin-right: 19px;
  height: 55px;
}

#topics-panel {
  margin: 60px 15px;
}