<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
  </ul>
  <h3 class="text-muted">Brandwatch challenge</h3>
</div>

<div class="jumbotron">
  <h1>Let's have a look at those beautiful data</h1>
</div>

<div class="row marketing">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">BW word cloud</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-9">
          <div ng-repeat="topic in preparedTopics">
            <div class="col-sm-4 word" ng-style="setStyle(topic)" ng-click="showInfo(topic)">{{topic.label}}</div>
          </div>
        </div>
        <div class="col-sm-3">
          <p>Information on topic <span class="info">"{{currentTopic.label}}":</span></p>
          <br>
          <p>Total mentions: <span class="info">{{currentTopic.volume}}</span></p>
          <br>
          <p>Positive mentions: <span class="info" id="positive-number">{{currentTopic.sentiment.positive}}</span></p>
          <p>Neutral mentions: <span class="info" id="neutral-number">{{currentTopic.sentiment.neutral}}</span></p>
          <p>Negative mentions: <span class="info" id="negative-number">{{currentTopic.sentiment.negative}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <p class="word size_1">This is test</p>
  <p>{{preparedTopics}}</p>
</div>

<div class="row marketing">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Raw data</h3>
    </div>
    <div class="panel-body">
      {{topics}}
    </div>
  </div>
</div>



    <div class="row">
      ###Challenge

      Create a word cloud that displays the topics in the `topics.json` file in this Gist. An example wireframe is
      available here:
      [https://brandwatch.mybalsamiq.com/mockups/1943262.png](https://brandwatch.mybalsamiq.com/mockups/1943262.png?key=9fe4f54b863478a76ab85202b30b5a505895fc6b)

      - The label.property of each topic should be the 'word' in the word cloud
      - Each topic should have one of 6 different text sizes, with the most popular topics largest, and least popular
      smallest
      - A topic with a sentiment score > 60 should be displayed in green
      - A topic with a sentiment score < 40 should be displayed in red
      - Other topics should be displayed in grey
      - When a topic is clicked, metadata about the topic should be displayed (total volume, and how that breaks down
      into positive, neutral and negative sentiment)

      - Your implementation should be provided as a Git repository, with instructions on how to run the code locally.
      - Your implementation should be of a quality that you consider production-ready.
      - Please use any libraries or frameworks that you consider suitable for the task

      We will be looking at:

      - The structure of the code and any markup
      - The modularity of the code and any markup
      - The suitability of the chosen technologies
      - Tests
      - Documentation

      ### Additional Information

      The browser statistics for the target site:

      ```
      Chrome (35+) - 42%
      Safari (7+) - 23%
      IE11 - 15%
      Firefox (29+) - 15%
      IE10 - 2.5%
      IE9 - 2%
      Other - 0.5%
      ```
    </div>

<div class="footer">
  <p>♥ from Till Reiter</p>
</div>
