<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
  </ul>
  <h3 class="text-muted">Brandwatch challenge</h3>
</div>

<div class="jumbotron">
  <h1>Let's have a look at those beautiful data</h1>
</div>

<div class="row marketing">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">BW word cloud</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-9">
          <div ng-repeat="topic in preparedTopics">
            <div class="col-sm-{{topic.randomColumnSize}} word" ng-style="setStyle(topic)"><span ng-click="showInfo(topic)">{{topic
              .label}}</span></div>
          </div>
        </div>
        <div class="col-sm-3">
          <p>Information on topic <span class="info">"{{currentTopic.label}}":</span></p>
          <br>
          <p>Total mentions: <span class="info">{{currentTopic.volume}}</span></p>
          <br>
          <p>Positive mentions: <span class="info" id="positive-number">{{currentTopic.sentiment.positive}}</span></p>
          <p>Neutral mentions: <span class="info" id="neutral-number">{{currentTopic.sentiment.neutral}}</span></p>
          <p>Negative mentions: <span class="info" id="negative-number">{{currentTopic.sentiment.negative}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>♥ from Till Reiter</p>
</div>
